.sideBg {
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.title,
.text {
  color: #fff;
  margin: 0;
}

.text {
  font-size: 0.85rem;
  color: #fff;
}

.title {
  font-size: 1.3rem;
}
